* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3,
footer p,
section button {
    font-family: 'Mochiy Pop One', sans-serif;
}

body, input, textarea {
    font-family: 'Hachi Maru Pop', cursive;
}

header {
    padding: 16px 0;
    background-color: rgb(219, 137, 165);
    color: rgb(72, 72, 226);
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: rgb(72, 72, 226);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.pets img {
    height: 100px;
}

.pets li {
    display: inline;
    margin-right: 8px;
}

.store-banner {
    height: 500px;
    margin-right: 32px;
}

.social-links img {
    height: 24px;
    cursor: pointer;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
}

form input,
form textarea, 
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button {
    background-color: rgb(72, 72, 226);
    color: rgb(219, 137, 165);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(27, 27, 159);
}

input:focus, textarea:focus {
    outline-color: rgb(72, 72, 226);
}

footer{
    background-color: rgb(219, 137, 165);
    color: rgb(72, 72, 226);
    padding: 16px 0;
}